
@import url('dashboard.css');

.formsection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f2f5;
}

.container {
    width: 100%;
    max-width: 400px;
    margin:80px;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.form-container {
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #007bff;
    outline: none;
}

.update-button {
    width: 100%;
    padding: 10px;
    background: #4a69bd;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.update-button:hover {
    background: #0056b3;
}
