@import url('dashboard.css');


.triviacontainer {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    max-width: 100%;
    margin: 30px;
    text-align: center;
    margin-left: 100px;
}
.header {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}
.content {
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: 40px;
}

.content h3{
    margin-bottom: 20px;
}

.content p{
    font-size: 15px;
    font-weight: 500;
}
.timer {
    font-size: 14px;
    margin-bottom: 10px;
}
.submit-btn {
    background-color: #ff4c4c;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: not-allowed;
}